<%- include('header') %>
<section>
    <h2>Contact Us</h2>
    <p>We'd love to hear from you! Whether you have a question, a suggestion, or just want to say hello, feel free to reach out to us.</p>
    <p>Email: contact@ourcafe.com</p>
    <p>Phone: (123) 456-7890</p>
</section>
<%- include('footer') %>